.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href='index.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_principal.png")
            img.icon-menu-item.active(src="img/icons/icone_principal_active.png")
          span.texto-menu Principal
      li.nav-item
        a.nav-link.has-notification(href='protocolos.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_ver_protocolos.png")
            img.icon-menu-item.active(src="img/icons/icone_ver_protocolos_active.png")
          span.texto-menu Ver protocolos
          span.badge.badge-menu 12
      li.nav-item
        a.nav-link(href='criar-protocolo.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_criar_protocolo.png")
            img.icon-menu-item.active(src="img/icons/icone_criar_protocolo_active.png")
          span.texto-menu Criar protocolo
      li.nav-item
        a.nav-link(href='usuarios.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_usuarios.png")
            img.icon-menu-item.active(src="img/icons/icone_usuarios_active.png")
          span.texto-menu Usuários
      li.nav-item
        a.nav-link(href='upload.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_upload-de-arquivos.png")
            img.icon-menu-item.active(src="img/icons/icone_upload-de-arquivos_active.png")
          span.texto-menu Upload de arquivos
      li.nav-item
        a.nav-link(href='upload-ingest.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_upload-de-arquivos.png")
            img.icon-menu-item.active(src="img/icons/icone_upload-de-arquivos_active.png")
          span.texto-menu Upload de arquivos - Ingest
      li.nav-item
        a.nav-link(href='formularios.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_formulario.png")
            img.icon-menu-item.active(src="img/icons/icone_formulario_active.png")
          span.texto-menu Formulário
      li.nav-item
        a.nav-link(href='lista-assinar-arquivos.html')
          span.icone-menu
            img.icon-menu-item(src="img/icons/icone_assinar_arquivos.png")
            img.icon-menu-item.active(src="img/icons/icone_assinar_arquivos_active.png")
          span.texto-menu Assinar arquivos
      if !starter
        li.nav-title
          | Theme
        li.nav-item
          a.nav-link(href="colors.html")
            span.icone-menu
              i.icon-drop
            | Colors
        li.nav-item
          a.nav-link(href="typography.html")
            span.icone-menu
              i.icon-pencil
            | Typography
        li.nav-title
          | Components
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            span.icone-menu
              i.icon-puzzle
            | Base
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='base/breadcrumb.html')
                | Breadcrumb
            li.nav-item
              a.nav-link(href='base/cards.html')
                | Cards
            li.nav-item
              a.nav-link(href='base/carousel.html')
                | Carousel
            li.nav-item
              a.nav-link(href='base/collapse.html')
                | Collapse
            li.nav-item
              a.nav-link(href='base/forms.html')
                | Forms
            li.nav-item
              a.nav-link(href='base/jumbotron.html')
                | Jumbotron
            li.nav-item
              a.nav-link(href='base/list-group.html')
                | List group
            li.nav-item
              a.nav-link(href='base/navs.html')
                | Navs
            li.nav-item
              a.nav-link(href='base/pagination.html')
                | Pagination
            li.nav-item
              a.nav-link(href='base/popovers.html')
                | Popovers
            li.nav-item
              a.nav-link(href='base/progress.html')
                | Progress
            li.nav-item
              a.nav-link(href='base/scrollspy.html')
                | Scrollspy
            li.nav-item
              a.nav-link(href='base/switches.html')
                | Switches
            li.nav-item
              a.nav-link(href='base/tables.html')
                | Tables
            li.nav-item
              a.nav-link(href='base/tabs.html')
                | Tabs
            li.nav-item
              a.nav-link(href='base/tooltips.html')
                | Tooltips
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            span.icone-menu
              i.icon-cursor
            | Buttons
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='buttons/buttons.html')
                | Buttons
            li.nav-item
              a.nav-link(href='buttons/button-group.html')
                | Buttons Group
            li.nav-item
              a.nav-link(href='buttons/dropdowns.html')
                | Dropdowns
            li.nav-item
              a.nav-link(href='buttons/brand-buttons.html')
                | Brand Buttons
        li.nav-item
          a.nav-link(href='charts.html')
            span.icone-menu
              i.icon-pie-chart
            | Charts
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            span.icone-menu
              i.icon-star
            | Icons
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='icons/coreui-icons.html')
                | CoreUI Icons
                span.badge.badge-success NEW
            li.nav-item
              a.nav-link(href='icons/flags.html')
                | Flags
            li.nav-item
              a.nav-link(href='icons/font-awesome.html')
                | Font Awesome
                span.badge.badge-secondary 4.7
            li.nav-item
              a.nav-link(href='icons/simple-line-icons.html')
                | Simple Line Icons
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            span.icone-menu
              i.icon-bell
            | Notifications
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='notifications/alerts.html')
                | Alerts
            li.nav-item
              a.nav-link(href='notifications/badge.html')
                | Badge
            li.nav-item
              a.nav-link(href='notifications/modals.html')
                | Modals
        li.nav-item
          a.nav-link(href='widgets.html')
            span.icone-menu
              i.icon-calculator
            | Widgets
            span.badge.badge-primary NEW
        li.divider
        li.nav-title
          | Extras
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            span.icone-menu
              i.icon-star
            | Pages
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href=ajax ? 'login.html' : 'login.html' target="_top")
                | Login
            li.nav-item
              a.nav-link(href=ajax ? 'register.html' : 'register.html' target="_top")
                | Register
            li.nav-item
              a.nav-link(href=ajax ? '404.html' : '404.html' target="_top")
                | Error 404
            li.nav-item
              a.nav-link(href=ajax ? '500.html' : '500.html' target="_top")
                | Error 500
  //- button.sidebar-minimizer.brand-minimizer(type="button")
  nav.faq-nav
    ul.nav
      li.nav-item 
        .help
          span.title Precisa de ajuda?
          span.text 0800 8001 400
          span.text 
            a(href="mailto:sac@piql.com.br") sac@piql.com.br
      li.nav-item 
        .help
          span.title 
            a(href="faq.html") Perguntas frequêntes
      li.nav-item 
        .help
          span.text Piql EDM
          span.text 2019 © Todos os direitos reservados. 