extends /pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .clearfix
          h1.float-left.display-3.mr-4 404
          h4.pt-3 Oops! Você está perdido.
          p.text-muted A página que você está procurando não foi encontrada!
        .input-prepend.input-group
          .input-group-prepend
            span.input-group-text
              i.fa.fa-search
          input#prependedInput.form-control(size='16', type='text', placeholder='O que você procura?')
          span.input-group-append
            button.btn.btn-info(type='button') Busca
