extends /default.pug

block scripts
  if !starter
    // Plugins and scripts required by this view
    script(src='node_modules/chart.js/dist/Chart.min.js')
    script(src='node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js')
    script(src='js/main.js')

block view
  .animated.fadeIn
    .row  
      .col-sm-12
        h1.main-title Painel principal
    .row
      .col-sm-12.col-lg-12.col-xl-6
        .row
          .col-sm-6.col-lg-3.col-xl-6
            .card.card-home
              .card-body
                .content-left
                  .title.red Em andamento
                  .number 60
                .content-right
                  i.icon-reload
          // /.col
          .col-sm-6.col-lg-3.col-xl-6
            .card.card-home
              .card-body
                .content-left
                  .title.orange Encaminhados
                  .number 22
                .content-right
                  i.icon-action-redo
          // /.col
          .col-sm-6.col-lg-3.col-xl-6
            .card.card-home
              .card-body
                .content-left
                  .title.purple Recebidos
                  .number 12
                .content-right
                  i.icon-like
          // /.col
          .col-sm-6.col-lg-3.col-xl-6
            .card.card-home
              .card-body
                .content-left
                  .title.green Concluídos
                  .number 09
                .content-right
                  i.icon-check
          // /.col
      
      .col-sm-12.col-lg-12.col-xl-6
        .card.card-relatorio
          .card-body
            .row
              .col-sm-5
                h4.card-title.mb-0 Exibição dos relatórios de protocolos
              // /.col
              .col-sm-7.d-none.d-md-block
                button.btn.btn-calendar.float-right(type='button')
                  i.icon-calendar
                .btn-group.btn-group-toggle.float-right(data-toggle='buttons')
                  label.btn.btn-filter
                    input#option1(type='radio', name='options', autocomplete='off')
                    |  Diário
                  label.btn.btn-filter
                    input#option2(type='radio', name='options', autocomplete='off', checked='')
                    |  Mensal
                  label.btn.btn-filter.active
                    input#option3(type='radio', name='options', autocomplete='off')
                    |  Anual
              // /.col
            // /.row
            .chart-wrapper(style='height:300px;margin-top:40px;')
              canvas#main-chart.chart(height='300')
        // /.card