// Variable overrides
$navbar-brand-width: 200px !default;
$navbar-height: 80px !default;
$body-bg: #f2f2f2 !default;
$card-border-color: transparent !default;
$card-border-radius: 15px;
$card-cap-bg: transparent !default;
$sidebar-header-bg: red !default;
$sidebar-bg: #fff !default;
$sidebar-color: #9c9eaa !default;
$sidebar-nav-link-color: #9c9eaa !default;

$font-weight-bold: 600 !default;
$h1-font-size: 50px !default;
$h2-font-size: 38px !default;
$h3-font-size: 32px !default;
$h4-font-size: 28px !default;
$h5-font-size: 22px !default;
$h6-font-size: 18px !default;
$orange: #ff5f26 !default;
$primary: $orange !default;

$table-border-color: transparent !default;

$badge-pill-border-radius: 50% !default;

$sidebar-nav-link-active-color: $primary;
$sidebar-nav-link-hover-color: #9c9eaa;
$sidebar-nav-link-hover-bg: #f2f2f2;